body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    position: relative;
    color: #f0f8ff;
    background-color: #717171;
    border-radius: 0%;
}

.centerCtr {
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    background-color: red;
    border-radius: 50%;
}
